<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
        class="flex-1 space-y-4 text-slate-700 dark:text-slate-300 [&>p]:leading-relaxed [&>p]:text-pretty"
    >
        <p>
            Me llamo Ibrahim Zanko, y empecé en el mundo del <span
                class="text-emerald-500 dark:text-emerald-400 font-bold"
                >Desarrollo WEB</span
            >
            hace cuestión de 1 año de manera autodidacta, con ayuda de
            <span class="text-emerald-500 dark:text-emerald-400 font-bold"
                >cursos y tutoriales de internet</span
            >.
        </p>

        <p>
            Me he dedicado principalmente a <span
                class="text-emerald-500 dark:text-emerald-400 font-bold"
                >trabajar cara al público</span
            >
            (restaurantes, bares, tiendas de ropa), lo que me ha permitido desarrollar
            una gran capacidad para trabajar
            <span class="text-emerald-500 dark:text-emerald-400 font-bold"
                >bajo presión y en equipo</span
            >.
        </p>

        <p>
            Tengo muchísimas <span
                class="text-emerald-500 dark:text-emerald-400 font-bold"
                >ganas</span
            > no solo de trabajar, sino de seguir <span
                class="text-emerald-500 dark:text-emerald-400 font-bold"
                >aprendiendo y avanzando</span
            >
            en el apasionante mundo del Desarrollo WEB.
        </p>
    </div>

    <div class="relative group">
        <div
            class="absolute -inset-1 bg-gradient-to-tr from-emerald-500 to-teal-400 rounded-2xl blur opacity-25 group-hover:opacity-50 transition duration-1000"
        >
        </div>
        <img
            class="relative size-64 object-cover rounded-2xl border-2 border-white/10 shadow-2xl transition duration-500 group-hover:scale-105 group-hover:rotate-2"
            src="/me.jpeg"
            alt="Foto de Ibrahim Zanko"
        />
    </div>
</article>
