---
import { date } from "astro:schema"
import ExperienceItem from "./ExperienceItem.astro"
import type { ACTION_ERROR_CODES } from "astro:actions"

const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Estudiando',
        description: 'Estudiando desarollo web, para ser full-stack',
        link: '#',
    },
    {
        date: 'Junio 2021',
        title: 'Camarero',
        description: 'Camarero en bar restaurante la cabañana en tordera, en el que me dediaba a llevar absolutamente todo menos cocina.',
        
    },
    {
        date: 'Septiembre 2019',
        title: 'Dependiente de tienda',
        description: 'Dependiente de tienda en ZANKO OUTLET en malgrat de mar, en la que me dedicaba a reponer, etiquetar, ventas, etc...',
        
    }
]
---


<ol class="relative border-s-2 border-slate-800 ml-3"> 
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }                 
</ol>

