<footer
    class="rounded-2xl shadow-sm m-4 bg-white/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10 border border-black/5 dark:border-white/10"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-6 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm text-slate-500 dark:text-white/50 sm:text-center"
            >© 2026 <a
                href="/"
                class="hover:text-emerald-500 transition-colors"
                >Ibrahim Zanko™</a
            >
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-slate-600 dark:text-white/90 sm:mt-0 gap-6"
        >
            <li>
                <a
                    href="#about"
                    class="hover:text-emerald-500 transition-colors">Sobre Mí</a
                >
            </li>
            <li>
                <a
                    href="mailto:ibrahimzankods@gmail.com"
                    class="hover:text-emerald-500 transition-colors">Contacto</a
                >
            </li>
        </ul>
    </div>
    <div class="px-6 pb-4 flex justify-center md:justify-start">
        <p class="text-[10px] text-slate-500/30 dark:text-white/20">
            Inspired on midudev portfolio
        </p>
    </div>
</footer>
