---
import Css from "./icons/Css.astro";
import Html from "./icons/Html.astro";
import JavaScript from "./icons/JavaScript.astro";
import Tailwindic from "./icons/Tailwindic.astro";
import BootStrapIc from "./icons/BootStrapIc.astro";
---

<div class="flex items-center justify-center">
    <Html class="size-16"/>
    <Css class="size-16 ml-6"/>
    <JavaScript class="size-[62px] ml-6" />
</div>
<div class="flex justify-center size-24 ml-48 mt-2 ">
    <Tailwindic class="size-[62px]"/>
    <BootStrapIc  class="size-[62px] ml-6" />
</div>